:host {
    width: 100%;
}

.page-header {
    padding: 0.75rem 1.5rem;
    color: #ffffff;
    align-items: center;
    background: #343a40;
    border-bottom: 1px solid #201c29;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    order: 1;
    width: 100%;
    margin-top: 15px;
}

@media screen and (min-width: 550px) {
    ul {
        width: auto;
        margin-top: 0;
    }

    .actions {
        order: 1;
    }
}

button {
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.3125rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button > * {
    pointer-events: none;
}

button:not(:disabled) {
    cursor: pointer;
}

button.brand {
    color: #fff;
    background-color: #da1b60;
    background-image: linear-gradient(to right, #ff8a00, #da1b60);
    border-color: #da1b60;
}

button.brand:hover {
    color: #fff;
    background-color: #da1b60;
    background-image: none;
    border-color: #ff8a00;
}

.user-display-name {
    margin-right: 1rem;
}
